html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --base-green: #233d1e;
  --dark-green: #1d3319;
  --page-background: #f1f7f0;
  --title-font: "Amatic SC", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: var(--page-background);
  color: black;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--base-green);
}

.explore-btn {
  display: block;
  padding: 16px 24px;
  background-color: var(--dark-green);
  color: white;
  font-size: 36px;
  font-weight: bold;
  font-family: var(--title-font);
}

.base-page-size {
  width: 100%;
  min-height: 100vh;
}

.explore-page-hero {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.mountains {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.mountain {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 750px;
}

.title-text {
  font-family: var(--title-font);
  font-size: 95px;
  margin: 0;
}

.sub-text {
  margin: 0;
  margin-bottom: 18px;
  text-align: center;
  max-width: 700px;
}

.header-content {
  padding: 18px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.back-btn {
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--dark-green);
  color: white;
  font-size: 28px;
  font-family: var(--title-font);
  cursor: pointer;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  margin-right: 40px;
  font-size: 28px;
  font-family: var(--title-font);
  cursor: pointer;
}
